{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout.css') }}">
{% endblock %}

{% block content %}
<div class="checkout-container">
    <h2>Checkout</h2>
    <h3>Buying: {{ product['name'] }}</h3>
    <h3>Price: ${{ product['price'] }}</h3>
    
    <form method="POST" class="checkout-form">

    <label for="address">Address:</label>
    <input type="text" name="address" value="{{ user_address.address if user_address else '' }}" required>


    <label for="city">City:</label>
   <input type="text" name="city" value="{{ user_address.city if user_address else '' }}" required>


    <label for="state">State:</label>
    <input type="text" name="state" value="{{ user_address.state if user_address else '' }}" required>


    <label for="pin">PIN Code:</label>
    <input type="text" name="pin" value="{{ user_address.pin if user_address else '' }}" required>

    <button type="submit" class="btn">Proceed to Order</button>
</form>

</div>
{% endblock %}